<h1>Ask the magic 8 ball</h1>
<form action="/magic_8_ball/answer">
    <label >
    <input type="text" name="question">
    </label>
    <button>Shake It!</button> 
</form>

<p>** I take no responsibility for any shaken laptops, please just click the button **</p>