<div class="container">
    <h1>
        Games for fun
    </h1>

    <h3>
        For now, you can choose between these 3 games to play!
    </h3>

    <div class="game-card-container">
        <div class="card">
            <img src="/assets/magic_ball.png" class="card-img-top" alt="Magic 8 Ball">
            <h5 class="card-title">Magic 8 Ball</h5>
            <p class="card-text">The Magic 8 Ball is a plastic sphere, made to look like an oversized eight ball, that is used for fortune-telling or seeking advice.</p>
            <a href="/magic_ball/question" class="btn btn-primary">Play</a>
        </div>

        <div class="card">
            <img src="/assets/guess_number.png" class="card-img-top" alt="Guess Number">
            <h5 class="card-title">Guess Number</h5>
            <p class="card-text">Choose a number between 1 and 10 and see if you can get the same number as the computer.</p>
            <a href="/guess_number/guess" class="btn btn-primary">Play</a>
        </div>

        <div class="card">
            <img src="/assets/rock_paper_scissors.png" class="card-img-top" alt="Rock Paper Scissors">
            <h5 class="card-title">Rock Paper Scissors</h5>
            <p class="card-text">Rock, Paper, Scissors is played like this: you will choose one of three symbols: a rock, paper, or scissors. A rock beats scissors, scissors beat paper by cutting it, and paper beats rock by covering it.</p>
            <a href="/rock_paper_scissors/choose" class="btn btn-primary">Play</a>
        </div>
    </div>

</div>