body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    border-bottom: 2px solid #5d5d5d;
    padding: 0px 0px 20px 0px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    padding: 5px;
}

nav a:hover {
    background-color: #ccc;
}