@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight:900;
    background-color: black;
}
form {
    display: inline-block;
}
.container {
    text-align: center;
}


.text {
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 10px;
    color: white;
    
}
p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 2em;
}

.row {
    margin-left: -30px;

}


.btn-success {
    margin-right: 2em;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(87, 73, 73, 0.25);
    background-color: #5bb75b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-large {
    background-color: #ff0000;
    padding: 11px 19px;
    font-size: 17.5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    background-color: #ff0000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
