body {
    background-color: burlywood;
}

.container {
    margin: 0 auto;
    max-height: 900px;
    max-width: 960px;
    background-color: white;
}

.stage {
    background-color: lightgreen;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    height: 300px;
    width: 300px;
    margin: auto;
}

.square img {
    height: 250px;
    margin: 0 auto;
    display: block;
}

.square p {
    cursor: pointer;
    text-align: center;
}

.show img {
    height: 400px;
    margin: 0 auto;
}