@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100&family=Gemunu+Libre:wght@400;700&display=swap');

body {
    background-color: #616247FF;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #DAA03DFF;
    margin: auto;
    max-width: 960px;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-family: 'Gantari', sans-serif;
}

h1 {
    text-align: center;
    background-color:  #616247FF;
    color: #DAA03DFF;
    margin: 1em;
    text-transform: uppercase;
    font-size: 400%;
    padding: 0.5em;
    font-family: 'Gemunu Libre', sans-serif;
}

nav {
    text-align: right;
}

nav a {
    color: black;
    padding-right: 1em;
    font-size: 130%;
}

nav a:hover {
    color: rgb(95, 38, 38);
}

img {
    width: 400px;
    height: 500px;
    align-self: center;
    border-radius: 40px;
    padding-top: 1em;
    padding-bottom: 1em;
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    flex-direction: column;
    width: 200%;
    align-items: center;
}

aside ul {
    text-align: left;
    padding-left: 4em;
}

aside li {
    padding-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.quote {
    text-align: center;
    background-color:  rgb(97, 98, 71);
    color: #DAA03DFF;
    border-radius: 1em;
    padding: 1em;
}

p {
    font-size: 110%;
}

h2, h3 {
    font-family: 'Gemunu Libre', sans-serif;
}