<p class="text">Do you have a test for that?</p>
<div class="container" class="row" class="text">
<form action = "/pass">
<button class = btn-success class = btn-large>       Yes   </button>
</form>
<form action = "/write_code">
<button class = btn-large class = "btn-danger" >  No   </button>
</form>
</div>

