
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pair Programming Bot</title>
    <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> %>
    <link rel="stylesheet" href="/css/prog.css">
    
</head>
<body>
 
<div class="container">
    <div class = "row">
    <%# <h1 class = "text">Things go here later if sleep doesn't win</h1> %>
    </div>

<%=yield%> 
<!--this is v special magic thing remember it forever-->
   
 
</div>
</body>

</html>