<div class="container" class="row" class="text">
<p class="text">Does the test pass?</p>
<form action="/refactor">
<button class = "btn-success" class = "btn-large" >Yes</button>
</form>
<form action="/write_code">
<button class="btn-large">No</button>
</form>

</div>