<div class="container" class="row" class="text">
<p class="text"> Need to refactor? </p>
<form  action="/do_refactor">
<button class = btn-success class = btn-large> Yes </button>
</form>
<form action="/new_feature">
<button class ="btn-large" class = "btn-danger">        No  </button>
</form>
<div>