@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fasthand&family=Fuzzy+Bubbles:wght@700&family=Josefin+Sans:wght@100&family=Pacifico&family=Silkscreen&display=swap');
body {
    background: white;
    

    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(208, 24, 24);
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Fuzzy Bubbles', cursive;
}
header span {
    font-size: 60px;
    color: black;
  }

button {
display: inline-block;
margin-top: 1em;
margin: 0 15px;
color: #ffffff;
background-color: red;
padding: 11px 19px;
font-size: 30px;
border-radius: 6px;  
}

.container {
    text-align: center;
}
 
.welcometxt {
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 3em;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: text 3.5s steps(28, end), blink-caret .75s step-end infinite,
    blinkTextCursor 500ms steps(2) normal;
    border-right: .15em solid; 
}


@keyframes text {
    from { width: 0}
    to { width: 100%;} 
} 

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

a {
    color: inherit;
    text-decoration: none;
}

input {
    width: 80%;
  }

#bttn {
    font-size: 20px;
    
}

.inner-container {
    font-size: 25px;
    margin: 10em;
    margin-bottom: 1em;
}