<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Cover Generator</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Click to return Home</a>
        </nav>
        <h1>Welcome to Book Cover Generator</h1>
        <div class="dynamic-area">
            <%= yield %>
        </div>
    </div>
</body>
</html>