@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body, .page-container {
    height: 100%;
}

body {
    font-family: 'Anton', sans-serif;
    /* font-size: 19px; */
    font-weight: 300;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
    line-height: 1.0;
    text-align: center;
    background-image: url('https://img.freepik.com/free-photo/summer-background-sea-water_64049-163.jpg?w=2000');
    background-size: cover;
    letter-spacing: 0.5em;
    -webkit-text-stroke: 1px black;
}

a {
	color: rgb(154, 200, 203);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
	color: white;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 1.8rem;
}

.highlight {
    color: #99FF66;
}

.container {
    /* background-color: rgb(16, 57, 30); */
    background-image: url('https://media2.giphy.com/media/3og0IMh7rRNPtNSK9q/giphy.gif');
    padding: 1em;
    opacity: 0.8;
    width: 500px;
    height: 90%;
    font-size: 200%;
    margin-left: 30%;
    margin-top: 1%;
    background-size: cover;
    overflow: auto;
}

img {
    width: 200px;
    height: 200px;
}