<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Weather Info</title>
	</head>
	<body>
		<h1><%=name%></h1>
		<p><%=currently%></p>
		<img src=`http://openweathermap.org/img/w/<%=icon%>.png` />
	</body>
</html>
