<%# <h1 class="display-4 font-weight-normal">BandsInfo</h1> %>
<div class="page-container">
    <p class="lead font-weight-normal">A place to see the info of your bands</p>
    <a href="<%= bands_path %>" class="btn btn-outline-secondary">Go!</a>
</div>