<h1>Secret Number</h1>

<form action="/secretnumber/play">
    <label>
        Enter your upper limit:
        <input type="number" name="limit" required min="4" max="100" autofocus placeholder="(4-100)" value="10">
    </label>
    <button>Play!</button>
</form>