 
<div class="container">
    <div class="welcometxt">
      <header>
      <h1>MAGIC <span>8</span> BALL</h1>
    </header>
        <h1 class= "typewriter">Have some thoughts and you want someone to give you an Advice ?</h1>
    </div>

    <div class="inner-container">
        <form action="/fortuned">
            <label>
                ASK ME BOY:
                <input name="question" placeholder="do it " required autofocus>
            </label>
    </div>

  
    

    <a href="/fortuned"> <button id="bttn">SHAKE me!</button> </a>
    
        </form>
        <audio autoplay>
 <source src='/Shaking.wav' type="audio/mpeg">
</audio>
</div>