
<div class="container">
    <div class="welcometxt">

        <h1>Your Fortune</h1>

        <p> <%= @pick %> </p>
        

        <a href="/">
            <button>do it AGAIN </button>
        </a> 

    </div>
</div>z