<h1>New Battleship</h1>

<!-- post allows to send data to SQL server to create/update resource -->
<form action="/battleships/" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Commissioned Date:
        <input name="commissioneddate">
    </label>

    <label>
        Main Caliber:
        <input name="maincaliber">
    </label>

    <label>
        Torpedos:
        <input name="torpedos">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Battleship Creation</button>
</form>