<h1>Battleships</h1>

<p>Welcome to the amazing battleship database</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet culpa odit quasi, et dolorem optio dicta a suscipit placeat delectus doloribus? Amet assumenda saepe ducimus reprehenderit voluptates, odio rerum nulla!</p>