* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.feature {
    width: 50%;
}