
<div class = "new-city">
<form action="/cities" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Note:
        <input name="note">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create City</button>
</form>
</div>