
<div class = "new-country">
    <form action="/countries" method="post">
        <label>
            Name:
            <input name="name" required>
        </label>

        <label>
            Image:
            <input type="url" name="image">
        </label>

        <button>Create country</button>
    </form>
</div>