<h1> Add New Item </h1>


<form action="<%= yeezys_path %>" method="post">

<label>
Name : 
<input name="name" required>
</label>

<label>
Image: 
<input type="url" name="image">
</label>


<label>
Size : 
<input type="number" name="size" >
</label>

<label>
Availability : 
<input type="number" name="availability">
</label>

<label>
Description : 
<input type="text" name="description">
</label>

<button>ADD Item ! </button>



</form>