<div class="container">
    <%= @winmessage %><p>
    <%= image_tag 'https://media.tenor.com/7HFPLm7Rl8oAAAAC/321-count-down.gif' %>
    </p>
    <button><a href="/rockpaperscissors">Play again!</a></button><p>
    <nav>
        <a href="/">Home</a>
    </nav>
</div>