<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CA Fraud</title>
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Diagram</a>
            <a href="/diagram/new">New info</a>
            ||

            <a href="/predators">PREADTORS</a>
            <a href="/predators/new"> New Predator </a>
        </nav>

        <%= yield %>
    </div>
    
</body>
</html>