<h1>Expose them </h1>

<form action="/predators" method="post">
    <label>
        name :
        <input name="name" required>
    </label>

    <label>
        what does he do  :
        <input name="paragraph" required>
    </label>

    <label>
        Expose:
        <input type="url" name="image">
    </label>

    <button>Add predator</button>
</form