<h1>Spread the knowledge  </h1>

<form action="/diagram" method="post">
    <label>
        Title :
        <input name="name" required>
    </label>

    <label>
        Add paragraph :
        <input name="paragraph" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>New Info</button>
</form