<h1> GA Marketplace </h1>
<div class="boxed">
<p> welcome to our
GA marketplace </p>
<p> GA MARKETPLACE isan online Platfrom where people can sell and buy anything tehy want , with one click you can have an access 
to hundereds of items availabe within australia </p>

</div>