<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>GA Marketplace</title>
</head>
<body>

    <div class="container">
        <nav>
           <a href="/">Home</a>
            <a href="/items">All items</a>
            <a href="items/new">New Items </a>
        </nav>

        <%= yield %>
    </div>
    
</body>
</html>