<h1>New Bourbon</h1>
<form action="/bourbons" method="post">
<label>Name: <input name="name" ></label>
<label>Alcohol Content: <input name="alcohol_content" ></label>
<button>New Bourbon</button>
</form>