<h1>New Brewery</h1>
<form action="/breweries" method="post">
<label>Name: <input name="name" ></label>
<label>Country: <input name="country" ></label>
<label>Image: <input name="image" ></label>
<button>New Brewery</button>
</form>