<h1>Bourbon Breweries</h1>

<p>Bourbon is a type of American whiskey, distilled from a mash made primarily of corn. Despite it’s popularity, the spirit remains a mystery to many. So how is it defined, and what else does the beginner need to know? Here are 10 bourbon FAQs to get you started on ‘America’s Native Spirit’.</p>