<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcoholism</title>
</head>
<body>
    <div class="container">
    <nav>
    <a href="/breweries">All Breweries</a>
    <a href="/breweries/new">New Brewery</a>
    |
    <a href="/bourbons">All Bourbons</a>
    <a href="/bourbons/new">New Bourbon</a>
    </nav>
    <%= yield %>
    </div>
</body>
</html>