<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Home</title>
  </head>
  <body>
    <div>
      <p>This is the weather home page</p>
      <form action="/city">
        <label>
          Enter a city
          <input type="text" name="city" placeholder="London" />
        </label>
        <button>Find Weather</button>
      </form>
    </div>
  </body>
</html>
