<h2><%= @info["items"][0]['volumeInfo']['title'] %></h2>
<h3>by: <%= @info["items"][0]['volumeInfo']['authors'][0] %></h3>
<img src="<%= @info["items"][0]['volumeInfo']['imageLinks']['thumbnail'] %>" alt="cover thumbnail">