<h1>secret_number</h1>

<form action="/secret_number/answer">

    <label>
        Choose a number: 
        <select name="number" placeholder="">
            <option></option>
            <% @nums.each do |num| %>
                <option value="<%= num %>"><%= num %></option>
            <% end %>
        </select>
    </label>
    <button>submit</button>
</form>