<div class="col-md-5 p-lg-5 mx-auto my-5 my-div-home">
    <h1 class="display-4 font-weight-normal">Keep note of what matters</h1>
    <p class="lead font-weight-normal">Start creating a note</p>
    <form action="/notes/new">
        <button class="btn btn-outline-secondary">Go!</button>
    </form>
</div>