<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Notes</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="py-2" href="#" aria-label="Product">
            <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="/notes">Notes</a>
        <a class="py-2 d-none d-md-inline-block" href="/notes/new">New Note</a>
    </nav>
    
    <%= yield %>

    <footer>
        <div class="footer">
            <div id="button"></div>
            <div id="container">
                <div id="cont">
                    <div class="footer_center">
                        <h3>®Notes</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>