<form action="/notes" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <br>
        <input name="title" class="form-control" id="exampleFormControlInput1" placeholder="Title" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Note</label>
        <br>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
        <br>
        <button>Create note</button>
        <a class="btn btn-primary" href="/notes" role="button">Cancel</a>
    </div>
</form>