body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5mIBbp2sdlWwvoSiVnJ37HgdEdP8r1PInuA&usqp=CAU');
    color: white;
}

.profpic {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#link {
    display: block;
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    background: #CF0404;
    background: linear-gradient(to right, #CF0404 0%, #FFF024 50%, #FF7912 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

.container {
    height: 800px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    opacity: 0.9;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}

nav {
    padding: 1em;
}
