<form action="/cover">
    <label>
         Book names
        <input name="book">
    </label>

    <button>search one</button>
</form>

<form action="/list">
    <label>
         Book names
        <input name="book">
    </label>

    <button>search many</button>
</form>