<h1>New Ocean</h1>

<form action="<%= oceans_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>
    <label>
        Image:
        <input name="image" type="url">
    </label>
    <label>
        Island:
        <input name="island">
    </label>
    <label>
        Area:
        <input name="area" type="number">
    </label>
    <label>
        Depth:
        <input name="depth" type="number">
    </label>

    <button>Create planet</button>
</form>