<div class="rps-container view-container">
    <h1>And the winner is</h1>

    <div class="rps-battle-container">
        <div class="user-choice">
            <img src="<%= @user_choice_img %>">
            <p>YOU</p>
        </div>

        <div class="computer-choice">
            <img src="<%= @computer_choice_img %>">
            <p>COMPUTER</p>
        </div>
    </div>

    <h4> <%= @message_to_print %></h4>
</div>