<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail DB</title>
  </head>
  <body>
    <h1>Cocktail DB</h1>
    <form action="/drinks">
      <label>
        Enter a drink here:
        <input type="text" name="drink" required placeholder="margarita" />
        <button>Search</button>
      </label>
    </form>
  </body>
</html>
