<h1>New City</h1>

<form action="/cities" method="post">
    <label>
        Name:
        <input name="name" required>
    </label><p>
    <label>
        Image:
        <input type="url" name="image">
    </label><p>
    <label>
        Landmark:
        <input name="landmark">
    </label><p>
    <label>
        Cost of Living: 
        <input type="integer" name="cost">
    </label><p>
        <label>
        Country: 
        <input name="countryid">
    </label><p>
    <button>Create City</button>
</form>