<h1>New Country</h1>

<form action="/countries" method="post">
    <label>
        Name:
        <input name="name" required>
    </label><p>
    <label>
        Image:
        <input type="url" name="image">
    </label><p>
    <label>
        Climate:
        <input name="climate">
    </label><p>
    <label>
        Land Area: 
        <input name="area">
    </label><p>
    <button>Create Country</button>
</form>