<h1>Add a Sport Here</h1>

<form action="/sports" method="post">
    <label>
        Sport:
        <input type="text" name="name" required>
    </label>
    <label>
        Greatest of All Time:
        <input type="text" name="goat" required>
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="http://www.imageofsport.com">
    </label>

    <button>Generate Sport</button>
</form>