<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chosen Cocktail</title>
  </head>
  <body>
    <h1>This is a chosen cocktail</h1>
    <p>The cocktail that you have selected is <%= cocktail %></p>
    <img src="<%=image %>" alt="Image" />
    <form action="/">
      <button>Try another</button>
    </form>
  </body>
</html>
