<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cocktails Home Page</title>
  </head>
  <body>
    <h1>Select a cocktail from a method below</h1>
    <div class="container">
      <div class="selection">
        <form action="/chosen-cocktail">
          <label>
            Look up a cocktail
            <input type="text" name="cocktail" placeholder="negroni" />
          </label>
          <button>Find Cocktail</button>
        </form>
      </div>
      <div class="selection">
        <form action="/random-cocktail">
          <label>
            Select a letter for a random cocktail
            <input type="text" name="cocktail" placeholder="negroni" />
          </label>
          <button>Find Cocktail</button>
        </form>
      </div>
    </div>
  </body>
</html>
