<h1> Games </h1>

<p>Choose your Game:</p>

<form>
  <input type="radio" id="html" name="fav_language">
  <label for="Magic8">Magic8</label><br>
  <input type="radio" id="css" name="fav_language">
  <label for="Secret Number">Secret Number</label><br>
  <input type="radio" id="javascript" name="fav_language">
  <label for="Rock Paper Scissor">Rock Paper Scissor</label>
</form>