<h1>New Mountan</h1>

<form action="<%= mountans_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Elevation:
        <input type="number" name="elevation">
    </label>
    <label>
        Prominence:
        <input type="number" name="prominence">
    </label>

    <label>
        Country:
        <input type="number" name="country">
    </label>

   
    <button>Create mountan</button>
</form>