<div class="col-md-5 p-lg-5 mx-auto my-5 my-div-home">
    <h1 class="display-4 font-weight-normal">Your book search friend</h1>
    <p class="lead font-weight-normal">Search for a book you would like to know about</p>
    <form action="/book_info">
        <input name="book_name" placeholder="Book name" class="form-control" id="inlineFormInputName" required>
        <br>
        <button class="btn btn-outline-secondary">Get book information!</button>
    </form>
</div>