<h2>Book Search</h2>
    <div class="form">
    <form action="/result">
        <label>
            Book Name:
            <input name="name" placeholder="Jaws" required>
        </label>

        <button>Search!</button>
    </div>
    </form>
