<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="/css/books.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
    </style> 
    <title>Book Covers</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <div class="container">
    <!-- Content will appear below. -->
    <%= yield %>
    <!-- Content appears above. -->
    <footer>
        &copy; Copyright Sophia Pache 2023 ALL RITES RESERVED
    </footer>
    </div>
</body>
</html>