<h1>Add a new Game</h1>

<div class="add-character">
    <form action="/characters" method="post" >
        <label>
            Character Name:
            <input type="text" name="name" placeholder="Horizon" required>
        </label>
        <label>
            Character Type:
            <input type="text" name="category" placeholder="Attack">
        </label>
        <label>
            Characters Ultimate Ability:
            <input type="text" name="ultimate" placeholder="Black Hole">
        </label>
        <label>
            Character Image
            <input type="url" name="image" placeholder="https://www.characterimage.com">
        </label>
        
    <button>Add Character</button>
    </form>
</div>