<h1>Add a new Game</h1>

<div class="add-game">
    <form action="/games" method="post" >
        <label>
            Name of Game:
            <input type="text" name="name" placeholder="Apex Legends" required>
        </label>
        <label>
            Game Developer:
            <input type="text" name="developer"placeholder="Respawn">
        </label>
        <label>
            Release Date:
            <input type="text" name="release" placeholder="2022-02-04">
        </label>
        <label>
            Game Information:
            <input type="text" name="information" placeholder="2022-02-04">
        </label>
        <label>
            Game Cover Image
            <input type="url" name="url" placeholder="https://www.gameimage.com">
        </label>
        
    <button>Add Game</button>
    </form>
</div>