<h1>Catch the best train home!</h1>

<p>Browse the type of trains currently running on your favorite train line. Wait for the crappy kind of trains to pass and jump on the good ones.</p>

<img class="feature" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/B_set_departing_Panania_20180919_01_%28Nimed%29.jpg" alt="Sydney Trains">