<div class="magic-ball-question-container view-container">
    <h1>Please, type a question on the following box</h1>
    <form action="/magic_ball/answer">
        <div class="mb-3">
            <textarea name="question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mb-3">Get your answer</button>
        </div>
    </form>
</div>