<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Search</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="/css/books.css" />
  </head>
  <body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Book Directory</h1>
    <!-- Content will appear below -->
    <%= yield %>
    <!-- Content appears above -->
  </div>
  </body>
</html>
