<h1>New Drink</h1>
<form action="<%= fizzy_drink_path %>" method="post">
<label>Brand: <input name="brand"></label>
<label>Flavor: <input name="flavor"></label>
<label>Caffeine: <input type="number" name="caffeine"></label>
<label>Image: <input name="image"></label>
<button>New Drink</button>
</form>