<div class="container">
    <h1>Welcome!</h1><p>
    <h2>Choose between the games below.</h2>
    <p>
    <a href="/magicball">Magic 8 Ball</a><p>
    <a href="/secretnumber">Secret Number</a><p>
    <a href="/rockpaperscissors">Rock Paper Scissors</a><p>
</div>