<div class="container">
    <h2>Magic Ball</h2>
    <div class="form">
    <form action="/magicball/result">
        <label>
            Ask the magic 8 ball a question, get an answer!<p>
            <input name="name" placeholder="Does my father love me?" required>
        </label>

        <button>Ask!</button>
    </div>
    </form>
    <p>
    <nav>
    <a href="/">Home</a>
    </nav>
</div>