<div class="container">
    <h1>Rock Paper Scissors</h1>
    Rock beats scissors. Scissors beat rock. Paper beats rock. <p>
    <form action="/rockpaperscissors/result">

    <select name="throw">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
    </select>
    <button>Choose Wisely</button>
    </form>
    <p>
    <nav>
        <a href="/">Home</a>
    </nav>
</div>