<form action="/cover">
    <label>
        Enter Book Title:
        <input type="text" name="book" placeholder="Willy Wonka and the Chocolate Factory">
    </label>

    <button>Show Book Cover</button>
</form>