<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Cover</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Book Covers</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
    <section class="container">
        <%= yield %>
    </section>
    
</body>
</html>