<h1>Let's play rock paper scissors</h1>

<form action="/rock/result">
        <select>
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <button type="submit">Submit Choice</button>
</form>