body {
    background-color: #222;
    /* expands to #222222 => #123 => #112233 */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    /* poor person's responsive container */
    margin: auto;
    /* center */
    background-color: #ccc;
    padding: 1em;
    /* a chunky pixel */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav {
    text-align: right;
}

nav a {
    color: green;
}

h1 {
    text-align: center;
    background-color: #222;
    color: #ccc;
    font-size: 400%;
    padding: 0.5em;
    text-transform: uppercase;
}

main {
    display: inline-block;
}

main img {
    display: block;
    margin: auto;
    /* Can't set 
}

aside {
    display: inline-block;
    width: 21%;
    /* In CSS: 75% + 21% == 100% */
    vertical-align: top;
    background-color: #cfc;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 15px 15px black;
}