<div class="view-container">
    <h1>You chose <%= @guess %></h1>
    <h1>The real secret number was...</h1>
    <h3><%= @computer_number %></h3>

    <h4>   
        <%= @message_to_print %>
    <h4>
</div>