<h1>New Fruits</h1>

<form action="/fruits" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Family:
        <input name="family">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create fruit</button>
</form>