<h1>FRUITS</h1>

<p>Feel ready to refresh yourself!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Iusto rem maiores in facere quod aut, nostrum corrupti officiis, obcaecati quisquam aliquam ullam?
 Ullam itaque quae labore sint quisquam, illum voluptatibus.</p>