<h1>Resin 3D printers</h1>
<p>Resin 3D printing is a type of additive manufacturing that uses photochemical techniques to 3D print objects. More specifically, concentrated UV light is directed at resin to link molecules together, ultimately forming the shape of a desired part, layer by layer.</p>