<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d Printers</title>
</head>
<body>
    <div class="container">
    <nav>
    <a href="/3d_printers">Resin 3D Printers</a>
    <a href="/3d_printers/new_printer">New 3D Printer</a>
    </nav>
    <%= yield %>
    </div>
</body>
</html>