<h1>New Printer</h1>
<form action="/3d_printers" method="post">
    <label>
    Brand: <input name="brand" required></label>
    <label>
    Model: <input name="model" required></label>
    <label>
    Print Bed Size: <input name="print_size"></label>
    <label>
    Resolution: <input name="resolution"></label>
    <label>
    Monochrome Screen: <input name="monoscreen" placeholder="yes=1 no=0"></label>
    <label>image URL: <input name="image"></label>
    <button>New Printer</button>
</form>