<form action="/players" method ="post">
    <label>
        Name: 
        <input name ="alias" required>
    </label>
    <label>
        Team id: 
        <input team_id="team_id" >
    </label>
    <label>
        Status:
        <input status ="status">
    </label>
    <label>
        Age:
        <input age="age">
    </label>
    
    <button>Create player</button>
</form>