<h1>Add New teams</h1>
<form action="/teams" method ="post">
    <label>
        Name: 
        <input name ="name" required>
    </label>
    <label>
        Gema:
        <input gema ="gema">
    </label>
    <label>
        Logo:
        <input type="url" name="logo">
    </label>
    
    <button>Create team</button>
</form>