<div class="container">
    <%= @array %><p>
    <%= image_tag 'https://media.tenor.com/Y_BPwj8KuHQAAAAM/nah-8ball.gif' %></p>
    <button><a href="/magicball">Play again!</a></button><p>
    <nav>
        <a href="/">Home</a>
    </nav>
</div>