<h1>The Magic 8 Ball</h1>

<form action="/magic/message">
    <label for="">
    Ask me a question:
    <input type="text" name="question" placeholder="Should I go home?" required>
    </label>
    <button>Reveal Answer</button>
</form>