<h1>New mountain</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Height:
        <input type="number" name="height">
    </label>

    <label>
        Country:
        <input type="number" name="country">
    </label>


    <button>Create mountain</button>
</form>