
 <form action="/result">
    <link rel="stylesheet" href="css/book.css">    
    <div > <label>
        <h1>Google Books </h1>

        <h2> Find Your Favorite Book : </h2>
        <input type="title" name="book_title" placeholder=" Type Book name" required>


    </label>
   
    
    <button>Search!</button>
</div>
</form>
