<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title> Google Books  </title>
  <link rel="stylesheet" href="css/book.css">    

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <nav>
        <a href="/"> Home </a>
    </nav>
<!-- content will appear here-->
<%= yield %>

 </body>
</html>