<h1>Create Director</h1>

<form action="/directors" method="post">
    <label>
        Name: <input name = "name" required>
    </label>
    <label>
        Image: <input type="url" name = "image">
    </label>
    <button>Create Director</button>
</form>