<h1>Create Hero</h1>

<form action="/heros" method="post">
    <label>
        Name: <input name = "name" required>
    </label>
    <label>
        Image: <input type="url" name = "image">
    </label>
    <label>
        Primary Stat: 
        <select name = "Primary_Stat">
            <option value="STR">STR</option>
            <option value="INT">INT</option>
            <option value="AGI">AGI</option>
        </select>
    </label>
    <label>
        Agility: <input name = "Agility">
    </label>
    <label>
        Agility_Gain: <input name = "Agility_Gain">
    </label>
    <label>
        Intelligence: <input name = "Intelligence">
    </label>
    <label>
        Intelligence_Gain: <input name = "Intelligence_Gain">
    </label>
    <label>
        Strength: <input name = "Strength">
    </label>
    <label>
        Strength_Gain: <input name = "Strength_Gain">
    </label>
    <label>
        Health: <input name = "Health">
    </label>
    <label>
        Health_Regen: <input name = "Health_Regen">
    </label>
    <label>
        Mana: <input name = "Mana">
    </label>
    <label>
        Mana_Regen: <input name = "Mana_Regen">
    </label>
    <button>Create Hero</button>
</form>