<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota2 Hero</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/heros">Heros</a>
            <a href="/heros/new">Create Hero</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>