<h1>Magic 8</h1>
<form action="/magic/info">
    <label name="message" placeholder="ask something" required>
        I can help you to decide 
    </label>
    <img src="app/assets/images/magic8.jpg" alt="app/assets/images/magic8.jpg">
    <button>ask...</button>
</form>