
<h1>
    This is the cover of the book <%= params[:title] %>

    
</h1>


<img alt = "Jaws" height="350px" src=<%= @cover["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] %>
<img alt = "Ulysses" height="350px" src=<%= @cover["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] %>
   