<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Book Cover</title>
    <link rel="stylesheet" href="/css/bookcover.css">
</head>
<body>
    
    <%= yield %>

</body>
</html>