
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Street</title>
    <link rel="stylesheet" href="library.css">
</head>
<body>
    <div class="container">

        <nav>
            <a href="/">Home</a>
        </nav>

        <h1>Library</h1>
        <%= yield %>
    </div>
</body>
</html>