<div class="container">
    <%= @message %>
    <p>
    <%= image_tag 'https://media1.giphy.com/media/l378khQxt68syiWJy/giphy-downsized-large.gif' %>
    </p>
    <button><a href="/secretnumber">Play again!</a></button><p>
    <nav>
        <a href="/">Home</a>
    </nav>
</div>
