<h1>Create a New Incident</h1>

<form action="/incidents" method="post">
    <label>
        *Airline IATA code:
        <input name="code" required placeholder="XX">
    </label>
    <label>
        *Flight number:
        <input type="number" name="flight_number" required placeholder="123">
    </label>
    <label>
        *Death:
        <input type="number" name="death" required placeholder="0">
    </label>
    <label>
        *Injury:
        <input type="number" name="injury" required placeholder="2">
    </label>
    <label>
        *Survival:
        <input type="number" name="survival" required placeholder="20">
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="https://...">
    </label>
    <label>
        *Description:
        <input name="description" required placeholder="This flight was from...">
    </label>
    <button>Add to database</button>
</form>

<p>* - Required</p>