<h1>All Incidents</h1>

<div class="index-container">
    <% @incidents.each do |incident| %>
        <a href="/incidents/<%= incident.id %>"><%= incident.code %> <%= incident.flight_number%></a>
    <% end %>
</div>