<h1>Book Search</h1>
<form action="/info">
    <p>book title</p>
    <label>
        <input name="book_title" placeholder="Harry Potter and the Philosopher's Stone" required>
    </label>
    <button>Search</button>
</form>