<main class="px-3">
    <h1 class="cover-heading">Your bands and albums library.</h1>
    <p class="lead">Add new bands and albums, so you can have the information when you need.</p>
    <p class="lead">
        <a href="/bands" class="btn btn-lg btn-secondary">See Bands</a>
        <a href="/albums" class="btn btn-lg btn-secondary">See Albums</a>
    </p>
</main>
