<%# <main class="px-3">
    <h1 class="cover-heading">Your bands and albums library.</h1>
    <p class="lead">Add new bands and albums, so you can have the information when you need.</p>
    <p class="lead">
        <a href="/bands" class="btn btn-lg btn-secondary">See Bands</a>
        <a href="/albums" class="btn btn-lg btn-secondary">See Albums</a>
    </p>
</main> %>


<div class="col-md-5 p-lg-5 mx-auto my-5 my-div-home">
    <h1 class="display-4 font-weight-normal">Your bands and albums library.</h1>
    <p class="lead font-weight-normal">Add new bands and albums, so you can have the information when you need.</p>
    <a href="/bands" class="btn btn-lg btn-secondary">See Bands</a>
    <a href="/albums" class="btn btn-lg btn-secondary">See Albums</a>
</div>