<h1>What number am I thinking of? Take a guess</h1>

<form action="/secret/reveal">

    <% (1..10).to_a.each do |n| %> 
        <button type="submit" name="number" value="<%= n %>"><%= n %></button>
    <% end %>

    </form>

