<h1>Create A New Horse Profile:</h1>

<form action ="/horses" method="post">
    <label>
        Horse's Name:
        <input name="name" required>
    </label>
<br>
    <label>
        Horse's Breed:
        <input name="breed">
    </label>
<br>
    <label>
        Horse's Age:
        <input name="age">
    </label>
<br>
    <label>
        Horse's Picture:
        <input type="url" name="image">
    </label>
<br><br>
    <button>Create Horse Profile</button>
</form>