<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Horse World!</title>
</head>
<body>
    <div class="container">
    <nav>
        <a href="/" id="link">Home</a>
        <a href="/horses" id="link">Horse Profiles</a>
        <a href="/horses/new" id="link">New Horse Profile</a>
    </nav>

        <%= yield %>
    </div>
</body>
</html>