<h1>magic_8_ball</h1>

<form action="/magic_8_ball/answer">
    <p></p>
    <label>
        Enter your question: 
        <input name="question" placeholder="Am I smart?" required>
    </label>
    <button>submit</button>
</form>