<h1>Games on Rails</h1>

<h2>What would you like to play ? </h2>

<ul>
    <li>
    <a href="/magic">Magic 8 Ball</a>
    </li>
    <li>
        <a href="/secret">Secret Number</a>
    </li>
    <li>
        <a href="/rock">Rock Paper Scissors</a>
    </li>

</ul>