<h1>Magic 8 Ball</h1>

<form action="/magic8ball/answer">
    <label>
        What would you like to ask? 
        <input name="question" required placeholder="Should I kick a rabbit?" autofocus>
        <button>Shake the ball</button>
    </label>
</form>