<h1>Pick from a button below</h1>

<form action="/rockpaperscissors/result">
    <input type="submit" value="Rock" name="choice">
    <input type="submit" value="Paper" name="choice">
    <input type="submit" value="Scissors" name="choice">
</form>